<app-admin-new-cinema
  [isNewFormCinema]="isNewFormCinema"
  (closeWindow)="closeNewCinema()"
  (openAlertSaved)="openAlertNewCinemaSaved($event)"
></app-admin-new-cinema>
<app-alert-new-cinema-created
  *ngIf="displayAlertNewCinemaCreated"
  [errorMsg]="error"
  (closeAlert)="onCloseAlert()"
>
</app-alert-new-cinema-created>

<div class="general">
  <div class="inner-general">
    <div *ngFor="let oneCinema of cinemasList">
      <app-one-cinema-for-admin [cinema]="oneCinema"></app-one-cinema-for-admin>
    </div>
  </div>
</div>
<div class="plus" (click)="addNewCinema()">
  <img
    src="https://i.pinimg.com/originals/e2/6f/33/e26f33f35d71a5c5c23b8291d7a2b212.png"
    alt="add new cinema"
  />
</div>
