body {
  margin: 0;
}
.general {
  height: 10vh;
  background: #1D3557;
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  left: 0;
}
.inner {
  width: 70vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.general a {
  text-decoration: none;
  color: #F1FAEE;
}
.logo {
  font-size: 2rem;
  text-align: center;
}
.header {
  font-size: 1rem;
}
.logo, .header {
  margin: 0 20px;
}
.general .login {
  background: #9CBED3;
  color: #1D3557;
  padding: 5px;
  border-radius: 5px;
}
.general .login-in {
  background: none;
  color: white;
  cursor: none;
}
.createAccount {
  margin-left: 10px;
}
