.logo{
  height: 10vh;
  background: #1D3557;
  color: #F1FAEE;
  font-size: 2rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header {
  height: 6vh;
  background: #457B9D;
  color: #F1FAEE;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.inner-header {
  width: 70vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.movies {
  font-size: 1.2rem;
}
