<div class="general">
  <div class="section1">
    <div class="title">{{ this.cinema.movieName }}</div>
    <div class="details">
      <div>{{ this.cinema.movieHour }}</div>
      <div>Cinema {{ this.cinema.cinema }}</div>
    </div>
  </div>
  <div class="section2">
    <div class="img">
      <img src="{{ this.cinema.moviePic }}" alt="{{ this.cinema.movieName }}" />
    </div>
    <div class="seats"></div>
  </div>
</div>
<!-- <app-one-cinema-for-panel
  (newIdEvent)="setId($event)"
></app-one-cinema-for-panel> -->
