<div class="general" *ngIf="isNewFormCinema" (click)="onCloseForm($event)">
  <div class="inner" (click)="onClickStopPro($event)">
    <div class="title">Add New Cinema</div>
    <div class="form">
      <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
        <div>
          <label>Movie Name: </label>
          <input
            formControlName="movieName"
            for="movieName"
            type="text"
            size="17"
          />
        </div>
        <div>
          <label>Hour: </label>
          <input
            formControlName="movieHour"
            type="time"
            for="movieHour"
            size="5"
          />
        </div>
        <div *ngIf="!movieHour.valid && movieHour.touched">
          <span>The hour must be of the format hh:mm</span>
        </div>
        <div>
          <label>Release Date: </label>
          <input
            formControlName="releaseDate"
            type="date"
            for="releaseDate"
            size="8"
          />
        </div>
        <div *ngIf="!releaseDate.valid && releaseDate.touched">
          <span>The release date must be a date</span>
        </div>
        <div>
          <label>Cinema: </label>
          <input formControlName="cinema" type="number" for="cinema" size="2" />
        </div>
        <div *ngIf="!cinema.valid && cinema.touched">
          <span>Must be a number greater then 0</span>
        </div>
        <div>
          <label>Numbers of Seats: </label>
          <input
            formControlName="numOfSeats"
            size="2"
            type="number"
            for="numOfSeats"
          />
        </div>
        <div *ngIf="!numOfSeats.valid && numOfSeats.touched">
          <span>Must be a number</span>
        </div>
        <div>
          <label>Number of Rows: </label>
          <input
            formControlName="numOfRows"
            size="1"
            type="number"
            for="numOfRows"
          />
        </div>
        <div *ngIf="!numOfRows.valid && numOfRows.touched">
          <span>Must be a number</span>
        </div>
        <div>
          <label>Image URL: </label>
          <input
            formControlName="moviePic"
            type="text"
            for="moviePic"
            size="17"
          />
        </div>
        <div class="buttons">
          <button type="submit" [disabled]="!form.valid">
            <img
              src="https://cdn2.iconfinder.com/data/icons/web-and-apps-interface/32/OK-512.png"
              alt="save"
            />
          </button>
          <button type="button" (click)="onCancel()">
            <img
              src="https://icon-library.com/images/icon-cancel/icon-cancel-21.jpg"
              alt="cancel"
            />
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
