* {
  font-family: Arial, Helvetica, sans-serif;
}
.general {
  display: flex;
  justify-content: center;
  align-items: center;
}
.inner {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  border: 2px solid #457B9D;
  border-radius: 5px;
}
.title {
  background: #457B9D;
  padding: 10px 0;
  width: 100%;
  text-align: center;
  color: white;
  font-weight: 700;
  font-size: 1.5rem;
}
.form {
  padding: 15px;
}
.input {
  margin-bottom: 10px;
  border: none;
  border-bottom: 1px solid grey;
  font-size: 1rem;
  width: 100%;
}
.input:focus {
  outline: none;
}
.button {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button button {
  border-radius: 5px;
  border: none;
  padding: 5px 10px;
  background: #1D3557;
  color: white;
  margin-right: 10px;
  font-size: 1rem;
  cursor: pointer;
}
.button button:hover {
  background: #457B9D;

}
.button button:disabled {
  cursor: not-allowed;
  background: #1D3557;
}
.button a {
  text-decoration: none;
  color: blue;
}

