<div class="external" (click)="closeWindowEvent()">
  <div class="inner">
    <div class="span">
      <span>Are you sure you want to delete this movie? </span>
    </div>
    <div class="buttons">
      <div class="button">
        <button (click)="deleteMovieEvent()">
          <img
            src="https://cdn2.iconfinder.com/data/icons/web-and-apps-interface/32/OK-512.png"
            alt="delete"
          />
        </button>
      </div>
      <div class="button">
        <button (click)="closeWindowEvent()">
          <img
            src="https://icon-library.com/images/icon-cancel/icon-cancel-21.jpg"
            alt="cancel"
          />
        </button>
      </div>
    </div>
  </div>
</div>
